html {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}
ol, ul{
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}